*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  background-color: #1c2431; }

.h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
