$color-primary-1: hsl(217, 28%, 15%);
$color-primary-2: hsl(218, 28%, 13%);
$color-primary-3: hsl(216, 53%, 9%);
$color-primary-4: hsl(219, 30%, 18%);

$color-accent-1: hsl(176, 68%, 64%);
$color-accent-2: hsl(198, 60%, 50%);
$color-accent-3: hsl(0, 100%, 63%);

$color-white: hsl(0, 0%, 100%);

$color-gray-1: #efefef;
$color-gray-2: #ccc;
$color-gray-3: #888;

$font-primary: "Opens Sans";
$font-secondary: "Raleway";
