.form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

    &__group {
        flex: 1;
        text-align: left;
    }

    &__input {
        border: none;
        outline: none;
        border-radius: 10rem;
        padding: 1rem;
        color: $color-gray-3;
        margin-right: 1rem;
        display: block;
        transition: all 0.2s;
        width: 99%;
    }

    &__error {
        font-weight: 700;
        color: $color-accent-3;
        font-size: 1rem;
        margin-left: 3rem;
    }
}

@media (max-width: 800px) {
    .form {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__group {
            flex: 1;
            width: 100%;
            margin-bottom: 1rem;
        }

        &__error {
            margin: 0.5rem auto;
            font-size: 0.8rem;
            text-align: center;
            display: block;
        }

        .btn {
            margin: 0 auto;
            display: block;
            width: 100%;
        }
    }
}
