.features {
    padding: 0 0 10rem 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-gap: 5rem;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: $color-white;
    @include container;
}

.feature {
    &__icon {
        width: 5rem;
        height: 5rem;
        margin: 0 auto 3rem auto;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__text {
        line-height: 1.9;
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .features {
        display: flex;
        flex-direction: column;
    }
}
